mixin svg(args)
    svg(viewbox=args.viewbox)&attributes(attributes)
        use(xlink:href=`#${args.name}`)

mixin form-row(args)
  .form__row.form__row-input.stacked(class=args.class)
    if args.textarea
      textarea(placeholder=args.placeholder, name=args.name, class=`form__textarea validate--${args.validate}`, oninput="this.parentNode.dataset.value = this.value")
    else
      input(type="text", placeholder=args.placeholder, name=args.name, class=`validate--${args.validate} form__${args.validate}`, required).form__input
      
    .form__note
    label.form__label(for=args.name)= args.title

mixin modal-close()
  button.modal__close(aria-label='Close modal', data-micromodal-close='')
    +svg({name: 'close'})

mixin control-bar-close()
  .customizer__control-bar-close
    +svg({name: 'close'})
